html, body {
  width: 500px;
}
body {
  margin: 10px;
}

.hidden {
  display: none;
}


#results {
  max-height: 300px;
  overflow-y: scroll;
}

#results button {
  display: block;
}

input {
  width: 95%;
  margin: auto;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.ui-button {
  width: 140px;
  text-align: center;
  margin: 4px;
  background-color: #344CB7;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 0 5px 0;

}

.result-button {
  width: 100%;
  margin-bottom: 1px;
  text-align: left;
}

.selected-button {
  margin: 0 4px 0 4px;
  border: 4px solid #F3950D;
}

.message-info {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}